@use '../../../../App.scss' as var;

.product {
    @include var.layout;
    position: relative;

    .slider {
        height: 20rem;
        width: 20rem;
    }

    p {
        padding: 0 8rem;
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
    }

    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
         
        .close-btn {
            margin: 0.5rem;
            width: 2rem;
            align-self: flex-end;
        }
    }
    
}



@media (max-width: '900px') {
    .product {
        p {
            padding: 0 1rem;
        }
    }
}