@use '../../../../App.scss' as var;

.product {
    @include var.layout;

    .img-slider {
        
        img{
            &:first-child{
                display: block;
            }

            display: none;
            width: 5rem;
            height: 5rem; 
        }
        
    }

    p {
        padding: 0 8rem;
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
    }
}



@media (max-width: '900px') {
    .product {
        p {
            padding: 0 1rem;
        }
    }
}